@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat+Alternates:wght@400;500;800&family=Rubik&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  font-family: "Montserrat Alternates";
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}

body {
  background-color: grey;
  color: #fff !important;
  text-transform: capitalize;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  overflow-x: hidden !important;
  overflow-y: hidden;


}

#viewer {
  position: relative;
  width: 35%;
  height: 400px;
  background-color: transparent;
  cursor: pointer;
}

#carousel-indicators button {
  border: 10px solid white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

#loadingProduct {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-left: 0px;
  z-index: 4;
}

#loadertxt {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 11;
  font-size: 30px;
  font-family: "Montserrat Alternates";
  color: white;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

.list_container::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #384fcd;
  border-radius: 5px;
  height: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #9d60db;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  transition: 0.6s;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: 5555;

  align-items: center;
  padding: 2% 6%;
}

nav #hamburger {
  display: none;
  height: 30px;
  width: 35px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

#hamburger1,
#hamburger2,
#hamburger3 {
  transition: all 0.3s ease-in;

}

nav #hamburger div {
  width: 80%;
  height: 2px;
  background-color: purple;
}

nav .logo {
  position: relative;
  transition: 0.6s;
  width: 140px;
  height: auto;
}

nav ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0 !important;
  padding-left: 0 !important;
}

nav ul li {
  position: relative;
  list-style-type: none;
  /* margin: 0px 2em; */
}

nav ul li a {
  cursor: pointer;
  position: relative;
  margin: 0 15px;
  transition: all 0.3s linear;
  text-decoration: none !important;
  color: white;
  display: flex;
  align-items: center;
  font-weight: 400;
}

nav ul li a:hover {
  color: purple !important;
  text-decoration: underline;
}

.resnav {
  transition: all 0.3s ease-in;
  height: calc(100vh - 80px);
  width: 100%;
  position: fixed;
  top: 80px;
  background-color: white;
  z-index: 5555555555555555000000000000000000;
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 10%;
}

.resnav ul {
  padding: 0;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  height: 30%;
  list-style-type: none;
}

.resnav ul li {
  margin: 2% 0;
  font-size: 20px;
  color: black;
}

.resnav ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

@media only screen and (max-width: 809px) {
  nav ul {
    display: none;
  }

  nav #hamburger {
    display: flex;
  }

  nav #contactEL {
    display: none;
    align-items: center;
    justify-content: space-between;
    padding: 8px 18px;
    border: 2px solid grey;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    color: #000;
    width: -moz-fit-content;
    width: fit-content;
    font-weight: 400;
  }

  #contactEL {
    display: none;
  }
}

.header-vid {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  left: 0;
  margin: auto;
}

@media (min-aspect-ratio: 16/9) {
  .header-vid {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .header-vid {
    width: auto;
    height: 100%;
  }
}

#contactEL {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 8px 18px;
  border-radius: 5px;
  border: 1px solid grey;
  cursor: pointer;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 400;
  transition: all 0.2s ease-in;

}

#contactEL:hover {
  background: grey;
  color: white;

}

.sticky {
  background-color: rgba(255, 255, 255, 0.95);
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sticky ul a,
.sticky #contactEL {
  color: #000 !important;
  font-weight: 400;
}

.clipbgpurple {
  background: linear-gradient(268.12deg, #883de7 4.53%, #9d60db 48.08%, #384fcd 92.55%), linear-gradient(0deg, #022859, #022859) !important;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  color: transparent !important;

}

header {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(2, 2, 2, 0.8)), url("images/headercover.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 4% 2% 2% 2%;
  z-index: -5;
  position: fixed;
  top: 0%;
}

header .textone {
  font-family: Montserrat Alternates;
  font-size: 3.8rem;
  font-weight: 800;
  line-height: 1.3;
  letter-spacing: 0em;
  text-align: center;
}

header .texttwo {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0em;
  text-align: center;
  margin: 2% 2%;
  font-family: Rubik;
}

header button {
  font-family: Montserrat Alternates;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0em;
  text-align: center;
  border: transparent;
  color: #fff;
  padding: 8px 10%;
  background: linear-gradient(88.84deg, #0b3dc8 -2.81%, #4e91ea 103.9%);
  cursor: pointer;
  transition: all 0.3s ease-out;
}

header button:hover {
  background: #323232;
}

@media (max-width: 768px) {
  header .textone {
    font-size: 2.5rem;
  }

  header .texttwo {
    font-size: 1.2rem;
    margin: 1% 2%;
  }
}

@media (max-width: 480px) {
  header .textone {
    font-size: 2rem;
  }

  header .texttwo {
    font-size: 1rem;
    margin: 1% 2%;
  }
}

.header2 {
  background-color: black;
  height: auto;
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
  padding: 2% 4%;
  background: black;
  background-size: cover;
  background-position: right;
  color: #fff;
}

.header2 .textone {
  font-size: 85px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0em;
  text-align: left;
  margin: 1rem 0;
  width: 100%;
}

.header2 .texttwo {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0em;
  text-align: left;
  margin: 1rem 0;
}

@media only screen and (max-width: 1030px) {
  .header2 {
    padding: 2%;
    height: auto;
    min-height: 80vh;
  }

  .header2 .textone {
    font-size: 55px;
    margin: 1rem 0;
  }

  .header2 .texttwo {
    font-size: 30px;
  }
}

@media only screen and (max-width: 730px) {
  .header2 {
    padding: 2%;
    height: auto;
    min-height: 80vh;
  }

  .header2 .textone {
    font-size: 2.2em;
    margin: 1rem 0;
  }

  .header2 .texttwo {
    font-size: 28px;
  }
}

@media only screen and (max-width: 480px) {
  .header2 {
    height: auto;
    min-height: 80vh;
  }

  .header2 .textone {
    font-size: 1.7em;
    margin: 1rem 0;
  }

  .header2 .texttwo {
    font-size: 24px;
  }
}

.platform {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2% 4%;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

}

#platformhome3d {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(2, 2, 2, 0.99)), url("images/headercover.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

}

.platformLeft {
  width: 40%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}

.platformLeftTitle {
  font-family: Montserrat Alternates;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 5%;
}

.platformLeftText {
  font-family: Montserrat Alternates;
  font-size: 24px;
  font-weight: 500;
  line-height: 60px;
  letter-spacing: 2px;
  text-align: left;
  margin: 2rem 0;
}

.platformLeft button {
  font-family: Montserrat Alternates;
  font-size: 20px;
  font-weight: 400;
  line-height: 52px;
  letter-spacing: 0em;
  text-align: center;
  border: transparent;
  color: #fff;
  padding: 2px 12%;
  border-radius: 4px;
  background: linear-gradient(88.84deg, #0b3dc8 -2.81%, #4e91ea 103.9%);
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.platformLeft button:hover {
  background: #323232;
}

.platformRight {
  width: 35%;
  height: 400px;
  background-image: url("./images/Prototype.png");
  background-position: center;
  background-size: cover;
}

.ourClients {
  width: 100%;
  height: auto;
  padding: 2%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
  flex-direction: column;
}

.ourClientsTitle {
  font-size: 40px;
  font-weight: 800;
  line-height: 52px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 2rem;
  color: #000;
}

.ourClientsItems {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
   flex-wrap: wrap;
  /* flex-wrap: wrap; <--------- remove this line */
}

.ourClientsItemsItem {
  width: auto;
  height: auto;
  display: flex;
  flex: 20%;
 
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.ourClientsItemsItem img {
  width: 180px;
  height: auto;
  margin: 1rem;
}

.ourClientsItemsItem h4 {
  font-size: 26px;
  font-weight: 800;
  line-height: 46px;
  letter-spacing: 0px;
  text-align: center;
  color: #000;
}

.ourMission {
  height: 660px;
  width: 100%;
  padding: 2% 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-color: #000;
  z-index: 1;
  position: relative;
  color: white;
}

.ourMissionTitle {
  font-size: 40px;
  font-weight: 800;
  line-height: 52px;
  letter-spacing: 0em;
  text-align: left;
  /* font-family: var(--extraBold); */
}

.ourMissionTextone {
  width: 100%;
  font-family: Montserrat Alternates;
  font-size: 48px;
  font-weight: bold;
  line-height: 2;
  letter-spacing: 0em;
  text-align: center;
  margin: 10vh 0;
  text-transform: capitalize;
}

.ourMissionTexttwo {
  font-family: Montserrat Alternates;
  font-size: 32px;
  font-weight: 500;
  width: 100%;
  line-height: 2;
  letter-spacing: 0em;
  text-align: center;
  text-transform: capitalize;
  flex-direction: column;
}

.ourMissionTexttwo div {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.ourMissionTexttwo div span {
  padding: 0px 100px;
}

.ourMissionSidebar {
  position: absolute;
  top: 50%;
  left: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.ourMissionSidebarItem {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 6px;
}

.ourMissionSidebarItemText {
  width: 80%;
  height: 20px;
}

.ourMissionSidebarItemButton {
  width: 16px;
  background-color: white;
  height: 16px;
  margin-left: 8px;
  border-radius: 100%;
  cursor: pointer;
}

/* Styles for small screens */
@media (max-width: 800px) {

  .ourMissionTextone,
  .ourMissionTexttwo {
    /* Adjust the font size or any other styles as needed */
    font-size: 14px;
    margin: 10% 0%;
  }

  .ourMissionTexttwo div span {
    padding: 0px 20px;
  }

  .ourMissionSidebar {
    /* flex-direction: column-reverse; */
    left: 50%;
    display: flex;
    transform: translate(-50%, 0%);
    flex-direction: row;
    bottom: 0px;
    position: relative;
  }

  .ourMissionTexttwo,
  .ourMissionTextone {
    width: 100%;
  }
}

/* Styles for medium screens */
@media (min-width: 769px) and (max-width: 1024px) {

  .ourMissionTextone,
  .ourMissionTexttwo {
    /* Adjust the font size or any other styles as needed */
    font-size: 28px;
  }
}

/* Styles for large screens */
@media (min-width: 1025px) {
  .ourMissionTextone {
    font-size: 45px;
  }

  .ourMissionTexttwo {
    font-size: 27px;
  }
}

.counter {
  display: flex;
  width: 100%;
  height: auto;
  padding: 2% 4%;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(2, 2, 2, 0.8)), url("images/header2cover.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.counterItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.counterItemNumber {
  font-size: 62px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0em;
  text-align: left;
}

.counterItemText {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0em;
  text-align: center;
  color: black;
}

@media only screen and (max-width: 1030px) {
  .counter {
    padding: 1%;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .counterItem {
    width: 50%;
  }

  .counterItemNumber {
    font-size: 48px;
  }

  .counterItemText {
    font-size: 18px;
  }
}

@media only screen and (max-width: 500px) {
  .ourMissionSidebar {
    padding: 0%;
  }

  .ourMissionSidebarItem {
    padding: 2%;
  }

  .counterItem {
    width: 100%;
  }
}

.devices {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2% 4%;
  background-color: #fff;
}

.devicesTitle,
.devices .carrouselTitle {
  font-size: 40px !important;
  font-weight: 800;
  line-height: 52px;
  color: #000;
  text-align: center;
}

.devicesItems {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 4% 0 0;
}

.devicesItemsItem {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 33%;
}

.devicesItemsItemImg img {
  width: 80px;
  height: auto;
}

.devicesItemsItemDes {
  font-size: 28px;
  font-weight: 500;
  line-height: 52px;
  letter-spacing: 0em;
  text-align: center;
  color: #000;
  margin-top: 2%;
}

@media only screen and (max-width: 939px) {
  .carrouselTitle {
    font-size: 28px !important;
  }

  .devicesTitle {
    font-size: 28px !important;
  }

  .devicesItems {
    flex-wrap: nowrap;
  }

  .devicesItemsItem {
    margin: 1rem;
  }

  .devicesItemsItemDes {
    font-size: 22px;
    white-space: nowrap;
  }
}

.carrousel {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  color: #000;
  padding: 2% 0%;
}

.carrouselTitle {
  font-size: 40px;
  font-weight: 800;
  line-height: 70px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 1%;
}

.carrouselItem {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 5rem;
}

.carrouselItemLeft {
  width: 45%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.carrouselItemLeft1 {
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 52px;
  letter-spacing: 0em;
  text-align: center;
}

.carrouselItemLeft2 {
  font-size: 1rem;
  font-weight: 300;
  line-height: 52px;
  letter-spacing: 0em;
  text-align: center;
}

.carrouselItemRight {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 45%;
  height: auto;
}

.carrouselItemRight img {
  width: 100%;
  height: auto;
  max-width: 380px;
  min-width: 320px;
}

@media only screen and (max-width: 1030px) {
  .carrouselItemLeft1 {
    font-size: 1rem;
  }

  .carrouselItemLeft2 {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 960px) {
  .carrouselItemLeft1 {
    font-size: 1rem;
  }

  .carrouselItemLeft2 {
    font-size: 0.9rem;
  }

  .carrouselItem {
    flex-direction: column-reverse;
    padding: 2rem;
  }

  .carrouselItemLeft {
    width: 100%;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: auto;
  background-color: #EAEAEA;
  padding: 2% 4%;
  color: #000;
}

.footerLeft {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footerLeft1 {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
}

.footerLeft2 {
  margin: 5% 0 0;
}

.footerLeft2 input {
  width: 250px;
  height: 42px;
  border-radius: 4px;
  gap: 10px;
  border: none;
  border: grey 1px solid;
}

.footerLeft2 button {
  width: 70px;
  height: 42px;
  border-radius: 4px;
  background-color: #022859;
  margin: 0 0 0 0;
  color: white;
  border: none;
  cursor: pointer;
}

.footerRight {
  width: 50%;
  display: flex;
  flex-direction: column;
  color: black;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.footerRight ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
  list-style-type: none;
  padding-left: 0px;
}

.footerRight ul li a {
  font-family: Montserrat Alternates;
  font-size: 18px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
  text-decoration: none !important;
  color: black;
}

.footerRightIcons {
  margin-top: 12%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 60%;
}

@media only screen and (max-width: 850px) {
  .footerRightIcons {
    margin-top: 10%;
  }

  .footer {
    flex-direction: column;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: space-between;
  }

  .footerLeft,
  .footerRight {
    margin: 4% 2%;
    width: 100%;
    align-items: center;
    height: auto;
  }

  .footerLeft {
    align-items: flex-start;
  }
}

.parralax {
  margin-top: 100vh;
  z-index: 55555;
  background-color: black !important;

}

.text2,
.text3 {
  display: none;
}

.text1 {
  transition: display 1s ease-in !important;
}

#button1 {
  background-color: purple;
}

#button1:hover,
#button2:hover,
#button3:hover {
  background-color: #883de7;
}

.text1,
.text2,
.text3 {
  animation: hideandshow 0.3s ease-in;
}

@keyframes hideandshow {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0.4;
  }

  80% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}

.carousel-control-next,
.carousel-control-prev {
  filter: invert(100%);
}

.platform_paralax {
  margin-top: 100vh;
  width: 100%;
  height: auto;
  z-index: 55555;
}

.video_section {
  height: auto;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2% 4%;
}

.video_section_player {
  width: auto;
  height: auto;
  border-radius: 10px;
  max-width: 100%;
}

.video_section p {
  font-size: 22px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0px;
  text-align: center;
  color: #000;
  width: 100%;
  margin: 3% 4%;
  font-family: Rubik;
  width: 80%;
}

.video_section button {
  font-family: Montserrat Alternates;
  font-size: 20px;
  font-weight: 400;
  line-height: 52px;
  letter-spacing: 0em;
  text-align: center;
  border: transparent;
  color: #fff;
  padding: 2px 12%;
  border-radius: 4px;
  background: #323232;
  /* background: linear-gradient(88.84deg, #0b3dc8 -2.81%, #4e91ea 103.9%); */
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.video_section button:hover {
  /* background: #323232; */
  background: linear-gradient(88.84deg, #0b3dc8 -2.81%, #4e91ea 103.9%);
}

.parallele {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: auto;
  width: 100%;
  background-color: white;
  z-index: 5555;
  padding: 2% 4%;
}

.parallele_title {
  font-size: 50px;
  font-weight: 800;
  line-height: 1.5;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 4%;
}

.parallele_item {
  margin: 2% 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.parallele_item_left {
  width: 50%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  align-self: center;
  padding: 2%;
}

.parallele_item_left_title {
  font-family: Montserrat Alternates;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.5; 
  letter-spacing: 0em;
  text-align: left;
}

.parallele_item_left_text {
  width: 100%;
  margin: 1.5rem 0;
  font-size: 1.3REM;
  font-weight: 400;
  font-family: Rubik;
  line-height: 2.2;
  letter-spacing: 0px;
  text-align: left;
  line-height: 1.5;
  color: #000;
}

.parallele_item_right {
  width: 45%;
  height: auto;

}

.parallele_item button {
  font-family: Montserrat Alternates;
  font-size: 20px;
  font-weight: 400;
  line-height: 52px;
  letter-spacing: 0em;
  text-align: center;
  border: transparent;
  color: #fff;
  padding: 2px 12%;
  border-radius: 4px;
  background: linear-gradient(88.84deg, #0b3dc8 -2.81%, #4e91ea 103.9%);
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.parallele_item button:hover {
  background: #323232;
}

@media only screen and (max-width: 939px) {
  .parallele {
    padding: 0%;
  }

  .parallele_item_left_text {
    width: 95%;
    font-size: 18px;
  }
}

@media only screen and (max-width: 700px) {
  #reverse {
    flex-direction: inherit;
  }

  .parallele_item {
    flex-direction: column;
    flex-direction: column-reverse;
    align-items: center;
  }

  .parallele_item_left {
    width: 100%;
  }

  .parallele_item_left_text {
    width: 100%;
    font-size: 22px;
  }

  .parallele_item_right {
    width: 100%;
  }

  #viewer {
    width: 90%;
  }

  .ourMission {
    height: 100%;
  }
}

.our_technology {
  background-color: white;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2% 4%;
  align-items: center;
  justify-content: space-around;
}

.our_technology_title {
  font-family: Montserrat Alternates;
  font-size: 40px;
  font-weight: 800;
  line-height: 52px;
  letter-spacing: 0em;
  text-align: center;
  margin: 2rem;
}

.our_technology_video {
  width: 100%;
  height: AUto;
}

.demo {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  padding: 2% 2%;
  background: #e8e8e8;
}

.demo_title {
  font-size: 40px;
  font-weight: 800;
  line-height: 52px;
  letter-spacing: 0em;
  text-align: center;
}

.demo_form {
  width: auto;
  height: auto;
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  max-width: 100%;
}

.demo_form_row {
  width: 100%;
  height: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.demo_form_row input {
  height: auto;
  width: 48%;
  background-color: white;
  border: 0.5px solid #6c6c6c;
  margin-bottom: 1rem;
  height: 2.5rem;
  padding: 10px;
  border-radius: 8px;
  font-size: 0.9em;
  /* font-weight: bold; */
}

.demo_form_row textarea {
  font-size: 1em;
  /* font-weight: bold; */
  padding: 10px;
  border: 0.5px solid #6c6c6c;
  border-radius: 8px;
}

.demo_form_row button {
  width: 100%;
  height: 60px;
  padding: 20px 60px 20px 60px;
  border-radius: 8px;
  font-family: Montserrat Alternates;
  font-size: 32px;
  font-weight: 700;
  border: none;
  line-height: 52px;
  letter-spacing: 0em;
  color: white;
  text-align: center;
  background: linear-gradient(88.84deg, #0B3DC8 -2.81%, #4E91EA 103.9%);
  padding: 0;
  background: linear-gradient(268.12deg, #883de7 4.53%, #9d60db 48.08%, #384fcd 92.55%), linear-gradient(0deg, #ffffff, #ffffff), linear-gradient(0deg, #022859, #022859);
  margin-top: 2%;
}

.demo_form_row button:hover {
  background-color: red;
}

.demo #cemail {
  width: 100%;
}

.my-video {
  height: auto;
  width: 100%;
}

.popupparent {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1111111111111111111111111111111111111111111111;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.8);
  /* Black w/ opacity */
  overflow-y: hidden;
  transition: all 0.3s linear;

}

.popup {
  box-shadow: 5px 0px 23px 0px rgba(0, 0, 0, 0.52);
  -webkit-box-shadow: 5px 0px 23px 0px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 5px 0px 23px 0px rgba(0, 0, 0, 0.52);
  background: url("./images/purplebg.jpg");
  background-position: center;
  background-size: cover;
  width: 400px;
  height: auto;
  position: relative;
  top: 50%;
  left: 50%;
  z-index: 55555555555555550;
  /* background-color: purple; */
  padding: 2%;
  border-radius: 20px;
  transition: all 0.3s linear;
  max-width: 100%;
  transform: translate(-50%, -50%);

}

.popup_x {
  position: absolute;
  top: 5%;
  left: 90%;
  cursor: pointer;
}

.popup_title {
  font-family: Montserrat Alternates;
  font-size: 35px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0em;
  text-align: center;

}

#cemail,
#email {
  width: 100%;
}

#popup_button {
  width: 100%;
  height: 60px;
  margin-top: 10px;
  padding: 20px 60px 20px 60px;
  border-radius: 8px;
  font-family: Montserrat Alternates;
  font-size: 32px;
  font-weight: 700;
  border: none;
  line-height: 52px;
  letter-spacing: 0em;
  text-align: center;
  color: linear-gradient(88.84deg, #0B3DC8 -2.81%, #4E91EA 103.9%);
  padding: 0;
}

.clipbgblue {
  background: linear-gradient(88.84deg, #0B3DC8 -2.81%, #4E91EA 103.9%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.hide {
  display: none;
}

.show {
  display: flex;
}

/*# sourceMappingURL=style.css.map */




/*************************** industries Page *****************************/
.blue {
  background: linear-gradient(88.84deg, #0B3DC8 -2.81%, #4E91EA 103.9%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.stickyscroll {
  background-color: white;
  height: auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 2% 6%;
  position: relative;
  font-family: Montserrat Alternates;
  font-size: 72px;
  font-weight: 700;
  line-height: 77px;
  letter-spacing: 0em;
  text-align: left;
}

.stickyscrollLeft {
  width: 20%;
  position: sticky;
  top: 120px;
  color: black;
  font-family: Montserrat Alternates;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  opacity: 0.9;
  letter-spacing: 0em;
  z-index: 555555555555555555555555555;
  text-align: center;
}

.stickyscrollRight {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.stickyscroll .box {
  width: 400px;
  margin: 0% 2%;
  min-width: 33%;
  height: auto;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: flex-start;
  overflow: hidden;
  flex-direction: column;
  color: black;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;

}

.box img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: auto;
  object-fit: contain;
  transition: transform 0.3s ease;

}

.box:hover img {
  transform: scale(1.2);
  -webkit-filter: grayscale(50%);
  filter: grayscale(50%);
}

.stickyscroll .boxTitle {
  font-family: Rubik;
  position: absolute;
  font-size: 1.8rem;
  font-weight: 800;
  line-height: 66px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
  top: 2%;
  z-index: 55555;
  transition: all 0.3s ease-in;
}

.box .boxButton {

  display: none;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 600;
  position: absolute;
  color: purple;
  line-height: 1.5;
  background-color: #fff;
  border: none;
  text-align: center;
  top: 50%;
  padding: 4% 8%;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  list-style-type: none;
  text-decoration: none;
}

.box .boxButton a {
  text-decoration: none;
  color: black;

}

.boxButton:hover {
  background: linear-gradient(268.12deg, #883de7 4.53%, #9d60db 48.08%, #384fcd 92.55%), linear-gradient(0deg, #022859, #022859) !important;
  box-shadow: 0px 5px 8px rgba(#9d60db, 0.4);
  color: #fff;
  transform: translateY(-7px);

}

.box:hover .boxButton {
  display: block;
}

.stickyscroll .boxText {
  font-family: Rubik;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  width: 100%;
}

.stickyscroll .mt-10 {
  margin-top: 10%;
}

@media only screen and (max-width: 1240px) {
  .stickyscroll .mt-10 {
    margin-top: 0% !important;
  }

  .stickyscrollLeft {
    width: 50%;
  }

  .stickyscrollRight .box {
    margin-bottom: 2%;
    width: 100%;
  }
}

@media only screen and (max-width: 878px) {
  .stickyscroll {
    flex-direction: column;
  }

  .stickyscrollLeft,
  .stickyscrollRight {
    width: 100%;
    margin-bottom: 2%;
    background-color: white;
  }

  .stickyscrollLeft {
    top: 78px;
    font-size: 22px;
  }

  .blackbarTitle {
    font-size: 32px !important;
    width: 95%;
  }
}

.blackbar {
  background: linear-gradient(180deg, #000000 0%, rgba(85, 85, 85, 0.567535) 77.6%, rgba(196, 196, 196, 0) 99.96%, #C4C4C4 99.97%);
  height: auto;
  width: 100%;
  padding: 1%;
  display: flex;
  justify-content: center;
}

.blackbarTitle {
  font-family: Rubik;
  font-size: 2.8rem;
  font-weight: 700;
  color: white;
  line-height: 2;
  text-align: center;
  margin: 0;
}

.impact {
  background-color: white;
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2% 2%;
  flex-direction: column;
  position: relative;
  color: black;
}

.impactTitle {
  font-family: Montserrat Alternates;
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 3;
  letter-spacing: 0em;
  text-align: center;
}

.impactDes {
  font-family: Montserrat Alternates;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 2%;
  color: #3C4657;
}

.impactContainer {
  height: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
}

.impactContainerItem {
  margin: 2% 0;
  width: 30%;
  height: auto;
  padding: 2%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.impactContainerItemLeft {
  width: 65px;
  height: 65px;
  border-radius: 100%;
  background: #D9D9D9;
}

.impactContainerItemRight {
  width: auto;
  font-family: Rubik;
  font-size: 28px;
  font-weight: bold;
  line-height: 1.8;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 20px;
}

@media screen and (max-width: 768px) {
  .impactTitle {
    font-size: 2rem;
    line-height: 2.5;
  }

  .impactDes {
    font-size: 1.5rem;
    line-height: 1.8;
    margin-bottom: 1%;
  }

  .impactContainerItem {
    width: 45%;
    padding: 1%;
  }

  .impactContainerItemRight {
    font-size: 22px;
    line-height: 1.5;
    margin-left: 10px;
  }

  .impact .impactContainerItemLeft {
    width: 45px;
    height: 45px;
  }

  .impact .impactContainerItemRight {
    margin-left: 20px;
  }
}

@media screen and (max-width: 480px) {
  .impact .impactContainerItemLeft {
    width: 38px;
    height: 38px;
  }

  .impactTitle {
    font-size: 1.8rem;
    line-height: 2;
  }

  .impactDes {
    font-size: 1.4rem;
    line-height: 1.5;
    margin-bottom: 0.5%;
  }

  .impactContainerItem {
    width: 90%;
    padding: 1%;
  }

  .impactContainerItemRight {
    font-size: 22px;
    line-height: 1.3;
    margin-left: 5px;
  }
}


/****************************** About Us ******************************/

.whoweare {
  display: flex;
  background-color: white;
  flex-direction: column;
  color: black;
  align-items: flex-start;
  justify-content: space-around;
  padding: 2% 8%;
}

.whoweareTitle {
  font-size: 2.6rem;
  font-weight: 800;
  line-height: 70px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 2%;
}

.whoweareText {
  font-family: Rubik;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 2.5;
  letter-spacing: 0.02em;
  text-align: left;
  width: 100%;
}

.whowearecarousel {
  padding: 2% 20%;
  background-color: white;
}

.ourvision {
  display: flex;
  background-color: black;
  flex-direction: column;
  color: white;
  align-items: flex-start;
  justify-content: space-around;
  padding: 2% 8%;
}

.ourvisionTitle {
  font-size: 2.6rem;
  font-weight: 800;
  line-height: 70px;
  letter-spacing: 0em;
  text-align: left !important;
  margin-bottom: 2%;
}

.ourvisionText {
  font-family: Montserrat Alternates;
  font-size: 1.1rem;
  font-weight: 400 !important;
  line-height: 2.5;
  letter-spacing: 0em;
  text-align: LEFT;
  margin-bottom: 2%;
}

.theteam {
  display: flex;
  background-color: white;
  flex-direction: column;
  color: black;
  align-items: center;
  justify-content: space-around;
  padding: 2% 0%;
}

.theteamTitle {
  font-size: 2.6rem;
  font-weight: 800;
  line-height: 70px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 2%;
}

.theteamrow1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.theteam .teambox {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 280px;
  padding: 2%;
}

.theteam .teambox1 {
  height: 250px;
  width: 100%;
  /* background: #E6E6E6; */
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.theteam .teambox1circle {
  width: 65%;
  height: 65%;
  border-radius: 50%;
  background: #C4C4C4;
  overflow: hidden;

}

.theteam .teambox2 {
  font-family: Montserrat Alternates;
  font-size: 1.2rem;
  font-weight: 800;
  line-height: 52px;
  letter-spacing: 0em;
  text-align: center;
  background: linear-gradient(268.12deg, #883DE7 4.53%, #9D60DB 48.08%, #00A3FF 92.55%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.theteam .teambox3 {
  font-family: Montserrat Alternates;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 5px;
  letter-spacing: 0.02em;
  text-align: center;
  margin: 20px 0;
}

.theteam .teambox4 {
  font-family: Montserrat Alternates;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.02em;
  text-align: center;
}

.w-20 {
  width: 280px !important;
  padding: 2% !important;
}



/* some responsive fixes */
@media screen and (max-width: 500px) {
  .whoweare,.ourvision{
    align-items: center !important;
  }
  .whoweareText,.ourvisionText{
    text-align: center;
  }
  .carrouselItemLeft1 {
    font-size: 18px;



  }

  .popup {
    width: 360px;
  }

  .activeLINK {
    color: black !important;
  }

  header {
    justify-content: center;
  }

  .textone,
  .texttwo {
    text-align: center !important;
  }

  .whowearecarousel {
    padding: 2%;
  }

  .parallele_item_left {
    align-items: center;
    text-align: center;
  }

  .parallele_item_left_text,
  .parallele_item_left_title {
    text-align: center;
  }

  .devicesItemsItemImg img {
    width: 60px;
    height: auto;

  }

  .devicesItemsItemDes {
    font-size: 20px;
  }

  .stickyscrollLeft {
    background-color: rgba(255, 255, 255, 0.8);
  }

  /* .impact{
  margin: 2%;
} */
  .impactContainerItem {
    width: 50%;
  }

  .impactContainerItemLeft {
    width: 24px !important;
    height: 24px !important;
  }

  .impactContainerItemRight {
    font-size: 16px !important;
    margin-left: 8px !important;
  }
}

@media screen and (max-width: 950px) {

  .whowearecarousel {
    padding: 4%;
  }



}


.activeLINK {
  color: white !important;
  border-bottom: 1px solid purple !important;

}


@media screen and (max-width: 750PX) {
  .activeLINK {
    color: black !important;
    border-bottom: none !important;
  }



}



.fortyfor {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 10% 2%;
  background-color: black;
}

.fortyfor .textone {
  font-family: Montserrat Alternates;
  font-size: 220px;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: left;
}

.fortyfor .texttwo {
  font-family: Inter;
  font-size: 72px;
  font-weight: 700;
  letter-spacing: 0px;
  text-align: center;
}

.fortyfor .textthree {
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0px;
  text-align: center;
  margin: 4% 2%;
}

.fortyfor button {
  border-radius: 24px;
  background: linear-gradient(268.12deg, #883DE7 4.53%, #9D60DB 48.08%, #00A3FF 92.55%);
  color: white;
  padding: 10px 40px;
  columns: white;
  font-size: 22px;
  border: none;
}

.fortyfor button a {
  color: white;
  width: 100%;
  height: 100%;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
}


@media only screen and (max-width: 600px) {
  .fortyfor .textone {
    font-size: 5rem;
  }

  .fortyfor .texttwo {
    font-size: 1.2rem;
  }

  .fortyfor .textthree {
    font-size: 1.2rem;
    margin: 2rem;
  }

  .fortyfor button {
    padding: 8px 24px;
    font-size: 1rem;
  }
}

.ourplatformvideo {
  width: auto;
  height: auto;
  position: relative;

  max-height: 100%;
  left: 50%;
  width: 90%;
  max-height: 60vh;
  transform: translateX(-50%);
}


#loadingpage {
  position: fixed;
  width: 100%;
  height: 100%;
  
  top: 0;
  left: 0;
  text-align: center;
  opacity: 1;
  background-color: #000;
  z-index: 55555555555555555555555555555555555555555555555555555555;
  display: flex;
  padding: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#loadingpage #loadingpageText{
  font-size: 1.9rem;
  font-family: "Montserrat Alternates";
  margin-top: 5px;
}